[submodule "bundle/cscope_maps"]
	path = bundle/cscope_maps
	url = git@github.com:chazy/cscope_maps.git
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = git@github.com:vim-scripts/ctags.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/php"]
	path = bundle/php
	url = git@github.com:vim-scripts/php.vim--Garvin.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = git@github.com:shawncplus/phpcomplete.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/YCM-Generator"]
	path = bundle/YCM-Generator
	url = git@github.com:rdnetto/YCM-Generator.git
