[submodule "bundle/cscope_maps"]
	path = bundle/cscope_maps
	url = git@github.com:chazy/cscope_maps.git
[submodule "ctags.vim"]
	path = ctags.vim
	url = git@github.com:vim-scripts/ctags.vim.git
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = git@github.com:vim-scripts/ctags.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/code_complete"]
	path = bundle/code_complete
	url = git@github.com:mbbill/code_complete.git
